<!DOCTYPE html>
<html>
	<head>
		<title> Create Degree </title>
		<meta charset="utf-8"/>
	</head>
	
	<body>
		<header> <h1> Create New Degree</h1> </header>
		<nav>
			<a href="http://localhost:5000/students"> View Students </a>
			<br/>
			<a href="http://localhost:5000/degree-programs"> View Degrees </a>
		</nav>
		
		<form method="post" action="http://localhost:5000/degree-programs">
			Degree Code: <input type="text" name="code" placeholder="Degree Code" required="required"/>
			<br/>
			Degree Title: <input type="text" name="name" placeholder="Degree Name"/>
			<br/>
			<input type="submit"/>
		</form>
		
		<footer> &copy; 2015 </footer>
	</body>
</html>
