<!DOCTYPE html>
<html>
	<head>
		<title> Galadhrim </title>
		<meta charset="utf-8"/>
	</head>
	
	<body>
		<header> <h1> galadhrim.api</h1> </header>
		
		<h3> Data Management </h3>
		<a href="college.html"> College </a>
		<br/>
		<a href="degreeprogram.html"> Degree Program </a>
		<br/>
		<a href="curriculum.html"> Curriculum </a>
		<br/>
		<a href="student.html"> Student </a>
		
		<h3> Curriculum </h3>
		<p> Most of the curriculums change every 4 years.</p>
		
		<h2> REST API </h2>
		<h3> Create curriculum </h3>
		
		POST <br/> /api/curriculum <br/>
		@param code <br/> @param name
		
		<h3> Example Request </h3>
		curl <br/> http://ws.c/api/curriculum
		
		<h3> Example Response </h3>
		{ <br/> "_id": 1 <br/> "code":"CA", <br/> "name:""College of Arts" <br/> }
	</body>
</html>
