<!DOCTYPE html>
<html>
	<head>
		<title>JavaScript Test</title>
		<meta charset="utf-8" />
	</head>
	
	<body>
		<p>Please input grade:</p>
		<input type="text" id="demo1" />
		<input type="button" onclick="getStatus()" value="Get Status" />
		<div id="message"> </div>
		<a href="javascript:void(document.body.style.backgroundColor='Yellow');">
		Click Me! <br/> <a>
		<input type="button" onclick="guessNumber()" value="Guess a number" />
		
		<script> 
			function getStatus(){
				var grade = document.getElementById("demo1").value;
				var status = (Number(grade) >= 55)? "Pass":"Fail";
				document.getElementById("message").innerHTML = status;
			}
			
			function guessNumber(){
				var y = Math.floor((Math.random() * 100) + 1);
				while(x!=y){
					var x = prompt("Enter a number from 1 to 100");
					try{
						if(x=="") throw "Input is empty.";
						if(isNaN(x)) throw "Input is not a number.";
						x = Number(x);
						if(x==y) throw "You guessed it correctly!";
						if(x<y) throw "Input a higher number!";
						if(x>y) throw "Input a lower number!";
					}
					catch(err){
						alert(err);
					}
				}
			}
		</script>
	</body>
</html>
