<!DOCTYPE html>
<html>
	<head>
		<title> Galadhrim </title>
		<meta charset="utf-8"/>
	</head>
	
	<body>
		<header> <h1> WELCOME TO GALADHRIM</h1> </header>
		
		<form method="post" action="http://localhost:5000/degree-programs">
			Username: <input type="text" name="uname" placeholder="Username" required="required"/>
			<br/>
			Password: <input type="text" name="pword" placeholder="Password"/>
			<br/>
			Confirm Password: <input type="text" name="pword2" placeholder="Confirm Password"/>
			<br/>
			<input type="submit" value="Sign Up"/>
		</form>
		
		Already have an account? <a href="signin.html"> Sign In </a>
	</body>
</html>
